<div id="login-form-container" class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <form class="form" #registerForm="ngForm" (ngSubmit)="onSubmit()">
                <h2>Register</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" required [(ngModel)]="email" name="email" />
                    <div [hidden]="emailErrMsg.length == 0" class="alert alert-danger">
                        {{ emailErrMsg }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" required [(ngModel)]="password"
                        name="password" />
                    <div [hidden]="passErrMsg.length == 0" class="alert alert-danger">
                        {{ passErrMsg }}
                    </div>
                    <div [hidden]="errMsg.length == 0" class="alert alert-danger">
                        {{ errMsg }}
                    </div>
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary" [disabled]='!registerForm.form.valid'>Register</button>
                    <a [routerLink]="['/home']" class="btn btn-link float-right">Cancel</a>
                </div>
                <button class="btn btn-light float-right" type="button" (click)="test()">
                    Leaders
                </button>
            </form>
        </div>
    </div>
</div>